.LoadingFirst{
    background-color: black;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    padding-top:20px;
}
.LoadingSecond{
    background-color: black;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    padding-top:20px;
}
.LoadingThird{
    background-color: black;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    padding-top:20px;
}
.LoadingForce{
    background-color: black;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    padding-top:20px;
}