.content{
    display:flex;
}

.SearchingText{
    font-size:30px;
    padding-right:50px;
    margin-top:auto;
    margin-bottom:auto;
}

.button {
    background-color: #005FFF;
    color:#fff;
    font-size: 25px;
    border: 3px solid #8EF1FF; /*ボタンの枠線をなくす場合[none]を設定*/
    padding: 10px;
    width:200px;
    border-radius: 8px;
    &:hover{ /*カーソルを合わ瀬田祭のボタンのスタイリングを設定*/
        background-color: #aaa;
        color: #fff;
        cursor: pointer;
    }
}
